# SIPSA DATA

SIPSA se encarga de recolectar información de productos perecederos en los principales mercados de la mayoría de ciudades del país,
generando boletines diarios de estos, en este notebook intentamos organizar estas datos en archivos con la extensión .csv , convirtiendo archivos diarios que contienen una lista de productos en archivos de productos indexados por fecha.

estos archivos se generan de lunes a viernes.


### fuente

los boletines se descargaron de la plataforma web del DANE con el script que se encuentra en mismo folder data_download.sh
no todos se pudieron descargar porque algunos no existían  y otros estaban en un formato diferente.

In [1]:
import numpy as np
import pandas as pd
import re
import os

In [2]:
#  funcion con las fuentes de la informacion se tratan por ciudad 
def ciudad(name):
    if (re.search('Bogotá*', name, flags= re.IGNORECASE)):
        return 'bogota'
    if (re.search('Barranquilla*', name, flags=re.IGNORECASE)):
        return 'barranquilla'
    if (re.search('Bucaramanga*', name, flags=re.IGNORECASE)):
        return 'bucaramanga'
    if (re.search('Cartagena*', name, flags=re.IGNORECASE)):
        return 'cartagena'
    if (re.search('Cúcuta*', name, flags=re.IGNORECASE)):
        return 'cucuta'
    if (re.search('Ibagué*', name, flags=re.IGNORECASE)):
        return 'ibague'
    if (re.search('Medellín*', name, flags=re.IGNORECASE)):
        return 'medellin'
    if (re.search('Montería*', name, flags=re.IGNORECASE)):
        return 'monteria'
    if (re.search('Neiva*', name, flags=re.IGNORECASE)):
        return 'neiva'
    if (re.search('Pereira*', name, flags=re.IGNORECASE)):
        return 'pereira'
    if (re.search('Popayán*', name, flags=re.IGNORECASE)):
        return 'popayan'
    if (re.search('Sincelejo*', name, flags=re.IGNORECASE)):
        return 'sincelejo'
    if (re.search('Tunja*', name, flags=re.IGNORECASE)):
        return 'tunja'
    if (re.search('Valledupar*', name, flags=re.IGNORECASE)):
        return 'valledupar'
    if (re.search('Villavicencio*', name, flags=re.IGNORECASE)):
        return 'villavicencio'
    if (re.search('Cali*', name, flags=re.IGNORECASE)):
        return 'cali'
    if (re.search('Armenia*', name, flags=re.IGNORECASE)):
        return 'armenia'
    if (re.search('Manizales*', name, flags=re.IGNORECASE)):
        return 'manizales'
    if (re.search('Pasto*', name, flags=re.IGNORECASE)):
        return 'pasto'
    if (re.search('Santa Marta*', name, flags=re.IGNORECASE)):
        return 'santa_marta'
    return "add element : " + name

# Load boletin

la siguiente función permite cargar los archivos y convertirlos en data frames

In [3]:
# funcion para parcear el xls to Data frame tratable

def generate_boletin_pd(file):
    xl = pd.ExcelFile(file)
    df1 = xl.parse()
    df1 = df1.rename(columns={ df1.columns[0] : 'productos' })
    df1= df1.set_index(['productos'])
    for i in range(0,df1.loc["Precio $/Kg"].shape[0],2):
        
        label = ["_precio","_var"]
        df1.loc["Precio $/Kg"][i] = ciudad(df1.loc["Precio $/Kg"][i])
        df1.loc["Precio $/Kg"][i+1] = df1.loc["Precio $/Kg"][i] + label[1]
        df1.loc["Precio $/Kg"][i] = df1.loc["Precio $/Kg"][i] + label[0]
    # change names colums
    df1.columns = df1.loc["Precio $/Kg"]
    # delete index name
    del df1.index.name
    return df1

In [4]:

path = 'data/'
listing = os.listdir(path)
print ("Files : " , len(listing))

# dicionarios con los data frames
res = {}
for infile in listing:
    try:
        res[infile[0:8]] = generate_boletin_pd('data/'+infile)
        for i in res.loc["Precio $/Kg"].values:
            if (re.search('add element*', i, flags=re.IGNORECASE)):
                print( i )
    except Exception:
        pass  # or you could use 'continue'

print ("Files Load : " , len(res.items()))

Files :  1143
Files Load :  1122

NOTE: algunos archivos no cumplen con el formato, no los utilizamos # 22

#### las fuentes

In [7]:
columns =  [ 'bogota_precio',             
             'bogota_var',
             'barranquilla_precio',
             'barranquilla_var',
             'bucaramanga_precio',
             'bucaramanga_var',
             'cartagena_precio',
             'cartagena_var',
             'cucuta_precio',
             'cucuta_var',
             'ibague_precio',
             'ibague_var',
             'medellin_precio',
             'medellin_var',
             'monteria_precio',
             'monteria_var',
             'neiva_precio',
             'neiva_var',
             'pereira_precio',
             'pereira_var',
             'popayan_precio',
             'popayan_var',
             'sincelejo_precio',
             'sincelejo_var',
             'tunja_precio',
             'tunja_var',
             'valledupar_precio',
             'valledupar_var',
             'villavicencio_precio',
             'villavicencio_var',
             'cali_precio',
             'cali_var',
             'armenia_precio',
             'armenia_var',
             'manizales_precio',
             'manizales_var',
             'pasto_precio',
             'pasto_var',
             'santa_marta_precio',
             'santa_marta_var']

# Prueba:  Dataframe con la Ahuyama

In [8]:
# generacion de un DataFreame para la Ahuyama
ahu = pd.DataFrame(columns=columns)
for i in res: 
    #print (i)
    df = res[i].loc[['Ahuyama'],:]
    # eliminacion de  columnas duplicadas
    # mercados diferentes en una misma ciudad 
    # NOTE perdida de la informacion
    df = df.loc[:,~df.columns.duplicated()]
    df.index = [i]
    ahu = pd.concat([ahu,df], join='outer')

In [9]:
# remove fields n.d. for a NaN
ahu =  ahu.apply(lambda x: x.str.strip() if isinstance(x, str) else x).replace('n.d.', np.nan)
print (ahu.shape)
ahu.head()

(1122, 40)

,armenia_precio,armenia_var,barranquilla_precio,barranquilla_var,bogota_precio,bogota_var,bucaramanga_precio,bucaramanga_var,cali_precio,cali_var,...,santa_marta_precio,santa_marta_var,sincelejo_precio,sincelejo_var,tunja_precio,tunja_var,valledupar_precio,valledupar_var,villavicencio_precio,villavicencio_var
20140327,533,0.0,NaN,NaN,883,0,585.0,0.010000,569.0,0.01,...,NaN,NaN,NaN,NaN,446.0,0.05,NaN,NaN,NaN,NaN
20120622,NaN,NaN,539.285714,-0.111765,900,0.0588235,625.0,-0.137931,600.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20131004,NaN,NaN,536.000000,-0.06,817,0,700.0,0.000000,NaN,NaN,...,NaN,NaN,575.0,-0.07,446.0,0.00,600.0,0,1000.0,0
20130222,NaN,NaN,589.000000,0.01,771,0,600.0,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20161104,NaN,NaN,684.000000,0.01,850,-0.04,429.0,0.020000,NaN,NaN,...,571.0,0.0,600.0,0,422.0,0.00,600.0,0,NaN,NaN

# Cuenta de la valores NaN en la Ahuyama

    registros que no se tomaron por fuente

In [10]:
# conoser cuantos valores faltan en cada ciudad
[ [sum( [pd.isnull(i) for i in  ahu[j].values ]), j] for j in ahu.columns]

[[489, 'armenia_precio'],
 [490, 'armenia_var'],
 [468, 'barranquilla_precio'],
 [471, 'barranquilla_var'],
 [0, 'bogota_precio'],
 [0, 'bogota_var'],
 [422, 'bucaramanga_precio'],
 [444, 'bucaramanga_var'],
 [459, 'cali_precio'],
 [461, 'cali_var'],
 [551, 'cartagena_precio'],
 [569, 'cartagena_var'],
 [420, 'cucuta_precio'],
 [423, 'cucuta_var'],
 [723, 'ibague_precio'],
 [748, 'ibague_var'],
 [794, 'manizales_precio'],
 [798, 'manizales_var'],
 [0, 'medellin_precio'],
 [0, 'medellin_var'],
 [710, 'monteria_precio'],
 [748, 'monteria_var'],
 [959, 'neiva_precio'],
 [963, 'neiva_var'],
 [1122, 'pasto_precio'],
 [1122, 'pasto_var'],
 [14, 'pereira_precio'],
 [23, 'pereira_var'],
 [788, 'popayan_precio'],
 [789, 'popayan_var'],
 [963, 'santa_marta_precio'],
 [981, 'santa_marta_var'],
 [641, 'sincelejo_precio'],
 [642, 'sincelejo_var'],
 [617, 'tunja_precio'],
 [625, 'tunja_var'],
 [613, 'valledupar_precio'],
 [617, 'valledupar_var'],
 [731, 'villavicencio_precio'],
 [737, 'villavicencio_var']]

#### productos

In [13]:
productos = np.array([    
                 'Ahuyama',
   'Arveja verde en vaina',
 'Cebolla cabezona blanca',
           'Cebolla junca',
         'Chocolo mazorca',
              'Habichuela',
         'Pepino cohombro',
                'Pimentón',
               'Remolacha',
                 'Tomate*',
               'Zanahoria',
              'Aguacate *',
                 'Banano*',
                    'Coco',
              'Granadilla',
                'Guayaba*',
             'Limón común',
            'Limón Tahití',
                    'Lulo',
              'Mandarina*',
             'Mango tommy',
                'Maracuyá',
        'Mora de Castilla',
                'Naranja*',
          'Papaya maradol',
                  'Piña *',
         'Tomate de árbol',
              'Arracacha*',
             'Papa negra*',
            'Papa criolla',
          'Plátano guineo',
    'Plátano hartón verde',
                   'Yuca*'
])
print (productos.shape)

(33,)

# SAVE dataframe per product

In [14]:
for j in productos :
    dt = pd.DataFrame(columns=columns)
    for i in res: 
        #si un elemento no se encintuentra en el boletin diario
        if not sum([ h == j for h in res[i].index]):
            continue
        df = res[i].loc[[j],:]
        # eliminacion de  columnas duplicadas
        # mercados diferentes en una misma ciudad 
        # NOTE perdida de la informacion
        df = df.loc[:,~df.columns.duplicated()]
        df.index = [i]
        dt = pd.concat([dt,df], join='outer')
    # remplace field not numeric to NaN
    dt =  dt.apply(lambda x: x.str.strip() if isinstance(x, str) else x).replace('n.d.' ,np.nan)
    dt.to_csv('data/csv/' + j.encode("ascii", "ignore").decode().replace(" ", "_") + '.csv', encoding='utf-8')
    print(dt.shape , " ", j)

(1122, 40)   Ahuyama
(1122, 40)   Arveja verde en vaina
(1122, 40)   Cebolla cabezona blanca
(1122, 40)   Cebolla junca
(1120, 40)   Chocolo mazorca
(1122, 40)   Habichuela
(1122, 40)   Pepino cohombro
(1122, 40)   Pimentón
(1122, 40)   Remolacha
(1096, 40)   Tomate*
(1122, 40)   Zanahoria
(1103, 40)   Aguacate *
(1085, 40)   Banano*
(1122, 40)   Coco
(1122, 40)   Granadilla
(1085, 40)   Guayaba*
(1120, 40)   Limón común
(1122, 40)   Limón Tahití
(1122, 40)   Lulo
(1096, 40)   Mandarina*
(1122, 40)   Mango tommy
(1122, 40)   Maracuyá
(1122, 40)   Mora de Castilla
(998, 40)   Naranja*
(1122, 40)   Papaya maradol
(1122, 40)   Piña *
(1122, 40)   Tomate de árbol
(1096, 40)   Arracacha*
(1096, 40)   Papa negra*
(1122, 40)   Papa criolla
(1122, 40)   Plátano guineo
(1122, 40)   Plátano hartón verde
(1096, 40)   Yuca*

## Notas

* se pierde infromacion cuando hay mas de dos fuentes por ciudad (por la forma en tratamos los datos)
* pocas ciudades tienes un alto numero de regitros 
* se puede perder inrformacion si los productos estan indexados otro nombre